# Build directory
/build*
/install*
/cmake-build*
/docker_build
/blis

# OS and libaries
#*
*~
.DS_Store
__pycache__
lit.site.cfg.py

# Local directory
/local_stuff

# IDE
.vscode
/.idea

# External software