[submodule "llvm"]
	path = llvm
	url = https://github.com/llvm/llvm-project
[submodule "blis"]
	path = blis
	url = https://github.com/flame/blis.git
[submodule "mcl"]
	path = mcl
	url = https://github.com/pnnl/mcl
